* {
  box-sizing: border-box;
}

body {
  padding: 15px;
}
.main-brand{
  font-size: 70px;
  text-align: center;
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  margin: 30px 0 60px 0;
}
.story-title{
  font-weight: normal;
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}
.row{
  display: flex;
  align-items: stretch;
}
.story-para{
  line-height: 1.2; /*for dense text content line height should be 1.2 to 1.5*/
  font-size:medium;
}
.story{
  border: 1px solid #333;
  padding: 10px;
}
.quarter{
  width: 25%; 
  /*flex: 1;tried this but it adjusts width*/
}
.half{
  width: 50%;
  /*flex: 2; tried this but it adjusts width*/
}
.half-image{
  width:100%;
}
.quarter-three{
    width: 75%;
    /*flex: 3; tried this but it adjusts width*/
}
.nav-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;/*this is to change bullet list appearance */
}
.nav-item{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 30px;
  color: #555;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item a{
  text-decoration: none;
  color: #555;
}
.nav-item a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.nav-item:nth-child(2n+1){
  background-color: cornflowerblue;
}

.nav-item:nth-child(2n){
  background-color:tomato;
}